# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Others
elpa/
custom.el
eln-cache/
projectile-bookmarks.eld
recentf
transient/
eshell/
bookmarks
.emacs.desktop
.emacs.desktop.lock
.lsp-session-v1
.cache
ido.last
org-project_*.org
